TransformerBeeClient/obj
TransformerBeeClient/bin
TransformerBeeClient.IntegrationTest/obj
TransformerBeeClient.IntegrationTest/bin
TransformerBeeClient.UnitTest/obj
TransformerBeeClient.UnitTest/bin
ExampleAspNetCoreApplication/obj
ExampleAspNetCoreApplication/bin
